body {
    background-color: white;
    font-family: 'Open Sans',Verdana,sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size:100%;
    color: black;
}

header {
    width: 100%;
    background-color: #0A1633;
    padding-top:50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 15px;
}

h1, h2 {
    font-family: 'Merriweather',Georgia,serif;
    color:white;
}

h1 {
    font-size: 270%;
    padding-bottom: 30px;
}

h2 {
    font-size: 200%;
}

footer {
    width: 100%;
    background-color: #0A1633;
    color: white;
    font-size: 80%;
    font-family: 'Merriweather',Georgia,serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

main {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

#middle {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    width: 50%;
}

#suggested {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3, h4, h5, h6 {
    color: #224baa;
}

h3 {
    font-size: 160%;
    font-style: italic;
}

h4 {
    font-size: 140%;
}

p {
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

p:first-of-type {
    margin-top: 5px;
}

ol, ul{
    line-height: 2;
}

ul.suggested {
    font-size: small;
}

ul.suggested,
ul.contents {
    line-height: 3;
    list-style-type: none;
}

ul.legislation {
    margin-left: 40px;
}

dl {
    margin-left: 20px;
    width: 50%;
}

div.dates:nth-child(odd) {
    background-color: #f0f0f0;
}

dt {
    color:#1d4195;
    font-style: italic;
    padding-top: 10px;
}

dd{
    padding-left: 100px;
    padding-bottom: 10px;   
}

a {
    font-style: italic;
    color:black;
}

ul.suggested > li > a,
ul.contents > li > a {
    color: #1d4195;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 0px;
}
a.extsite {
    text-decoration-style: dashed;
    text-decoration-color: #224baa;
    font-style: italic;
}

a.extsite:hover {
    color: #224baa;
    font-style: normal;
}

ul.suggested > li:hover,
ul.contents > li:hover{
    background-color: #f0f0f0;
}

p.captionvid {
    font-style: italic;
    font-size: small;
    color:#990000;
}

caption {
    font-style: italic;
    font-size: small;
    color:#224baa;
}

summary {
    margin-top: 20px;
    color:#224baa;
}

section.suggestedReading {
    border-width: 1px;
    border-style: dashed none dashed none;
}

details {
    padding-bottom: 20px;
}