/* do not change the content of this file */

*{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

header {
    background-color:#004165;
}

h1 {
    font-size:2.0em;
    color:#333;

}

hr {
    border-top:1px dashed #000;
    margin-top:5px;
    margin-bottom: 5px;
}

article {
    padding:20px;
}

section > p:first-of-type::first-letter {
    font-size:1.5em;
    color:#ff0000;
    font-family:"Times New Roman", serif;
}

.right-floated-image {
    float:right;
    border:1px solid #000;
    padding:5px;
}
