@font-face {
	font-family: 'Antonio';
	src: url('/Media/Antonio-VariableFont_wght.ttf') format('truetype');
  }

body {
	margin: 0px;
	background-color: white;
	font-family: "Antonio";
}

.topNav {
	padding:5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #171b20;
	box-shadow: 0px 14px 15px 5px #000000;
	font-size:xx-large;
	letter-spacing: 5px;
	color: white;
}

#leftNav {
	display: flex;
	size: 10px;
	align-items: center;
}

.navmenu {
	padding: 1vw;
	padding-bottom: 20px;
	padding-top: 20px;
}
.navmenu:hover,
#contact:hover {
	color:rgb(202, 25, 25);
}

#rightNav {
	display: flex;
	align-items: center;
}

#contact {
	padding-right: 2vw;
}

#intro {
	color: black;
	background-color: white;
	column-gap: 50px;
	height: 56vw;
}

#introvideo {
	width: 100%;
}

.introItem {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	font-size: 6em;
	text-shadow: 0px 2px 4px #000000; 
}

.styledsection {
	background-color: white;
}

.blocktitle h2 {
	font-size: 4em;
}

.blocktitle {
	position: absolute;
	margin-left: 10em;
	padding: 5em;
	display: block;
	background-color: white;
}

